<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="Navegador" value="CHROME"/>
    <test verbose="2" preserve-order="true" name="C:/Users/Genaro/Desktop/QA Automation/Curso/tests">
        <classes>
            <class name="com.genaro.tests.DespegarTest">
                <methods>
                    <include name="navegarHotel"/>
                </methods>
            </class>
            <class name="com.genaro.tests.DespegarTestList">
                <methods>
                    <include name="testButtons"/>
                </methods>
            </class>
            <class name="com.genaro.tests.WikiTest">
                <methods>
                    <include name="ValidarBusquedaWikipedia"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
