<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="Navegador" value="CHROME"/>
    <test verbose="2" preserve-order="true" name="C:/Users/Genaro/Desktop/QA Automation/Curso/tests">
        <groups>
            <run>
                <!-- Despegar Test -->
                <include name="Navegar a Hotel"/>
                <exclude name="Test Buttons"/>

                <!-- Wiki Test -->
                <include name="Test Busquedas" />
            </run>
        </groups>
        <classes>
            <class name="com.genaro.tests.DespegarTest" />
            <class name="com.genaro.tests.WikiTest" />
        </classes>
    </test>
</suite>
